<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedCrabX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RedCrabX.Properties.Settings>
            <setting name="MathDisplaySubMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MathAccuracy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FunctionPadLosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MathDisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToolbarColor" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="AnsiFontName" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="PipeCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MathTriMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PageMargins" serializeAs="String">
                <value>40, 40, 40, 40</value>
            </setting>
            <setting name="HexInteger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrefixE" serializeAs="String">
                <value>Nil</value>
            </setting>
            <setting name="SymbolPadLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PrefixA" serializeAs="String">
                <value>Nil</value>
            </setting>
            <setting name="KeyboardSize" serializeAs="String">
                <value>500, 200</value>
            </setting>
            <setting name="SymbolPadSize" serializeAs="String">
                <value>150, 200</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="NumberPadLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutoCalc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MathFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FunctionPadSize" serializeAs="String">
                <value>200, 360</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>920</value>
            </setting>
            <setting name="NumberPadSize" serializeAs="String">
                <value>145, 200</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="TableHeaderVisibility" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="UnitsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolTipRegion" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="KeyboardRegion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeyboardLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WorksheetTips" serializeAs="String">
                <value>Smart</value>
            </setting>
            <setting name="MathFixPlace" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>2420</value>
            </setting>
            <setting name="TableBackground" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </RedCrabX.Properties.Settings>
    </userSettings>
</configuration>